<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/styles/Styles.css">
   <link rel="stylesheet" href="/styles/Review.css">
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
   <script src="/javascript/Review.js" defer></script>
   <title>Review</title>
</head>
<body>
   <header>
      <div class="gray1-square"></div>
      <div class="gray2-square"></div>
      <a href = "/"><h1>Coches</h1><a>
   </header>
   <nav>
      <a href="/reviews/combustion">Combustión</a>
      <a href="/reviews/electricos">Eléctricos</a>
      <a href="/noticias">Noticias</a> 
      <a href="/futuro">Futuro</a>
      <a href="/form">Nueva Review</a>
   </nav>
   <div class="align">
      <h1 id="title">Lorem ipsum dolor sit amet</h1>
      <div class="container">
         <a href="../Specifications/Specifications.html" id = "Specifications">
            <img src="/assets/Boton Ficha técnica.svg" class="icon">          
         </a>
         <div class="review-container">
            <section class="review-section" id="0">
               <div class="content">
                  <span>
                     <img src="/assets/BMW-Logo.png" class="logo">
                     <h2>Lorem ipsum</h2>
                  </span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin. Nunc sapien orci, commodo eget massa ac, viverra condimentum purus. Curabitur iaculis elementum risus vitae egestas. Integer consectetur ex et mauris eleifend aliquam. Sed luctus accumsan urna, sed porttitor turpis pretium lobortis.</p>
               </div>
               <img src="/templates/assets/subasta-bmw-m4-gts-1975555.jpg">
            </section>
            <section class="review-section" id="1">
               <img src="/templates/assets/subasta-bmw-m4-gts-1975555.jpg">
               <div class="content">
                  <span>
                     <h2>Lorem ipsum</h2>
                  </span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin. Nunc sapien orci, commodo eget massa ac, viverra condimentum purus. Curabitur iaculis elementum risus vitae egestas. Integer consectetur ex et mauris eleifend aliquam. Sed luctus accumsan urna, sed porttitor turpis pretium lobortis.</p>
               </div>
            </section>
         </div>
      </div>
   </div>
</body>
</html>