<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/styles/Styles.css">
   <link rel="stylesheet" href="/styles/Specifications.css">
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">
   <script src = "/javascript/Specifications.js" defer></script>
   <title>Document</title>
</head>
<body>
    <header>
        <div class="gray1-square"></div>
        <div class="gray2-square"></div>
        <a href = "/"><h1>Coches</h1></a>
    </header>
    <nav>
        <a href="/reviews/combustion">Combustión</a>
        <a href="/reviews/electricos">Eléctricos</a>
        <a href="/noticias">Noticias</a> 
        <a href="/futuro">Futuro</a>
        <a href="/form">Nueva Review</a>
    </nav>
   <div class="align">
      <div class="container">
         <h1 class="espec">Especificaciones</h1><br>
         <table id="0">
            <th colspan="2">Prestaciones</th>
            <tr>
               <td>Prestacion 1</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td>Prestacion 2</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td>Prestacion 3</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td>Prestacion 4</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td>Prestacion 5</td>
               <td>Valor</td>
            </tr>
            <tr>
               <td>Prestacion 6</td>
               <td>Valor</td>
            </tr>
         </table>
      </div>
   </div>
</body>
</html>