<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/Styles.css">
    <link rel="stylesheet" href="/styles/News.css">
    <script src="/javascript/News.js" defer></script>
    <title>News</title>
</head>
<body>
    <header>
        <div class="gray1-square"></div>
        <div class="gray2-square"></div>
        <a href = "/"><h1>Coches</h1></a>
    </header>
    <nav>
        <a href="/reviews/combustion">Combustión</a>
        <a href="/reviews/electricos">Eléctricos</a>
        <a href="/noticias">Noticias</a> 
        <a href="/futuro">Futuro</a>
        <a href="/form">Nueva Review</a>
    </nav>
    <div class ="align">
        <h1>Noticias destacadas</h1>
        <div class = "container-noticias">
                <div>                   
                    <div class="noticia1" style="visibility: hidden;" id="0">
                        <img class="img-mv" src = "../assets/audi-tt.jpg">
                        <div class = "preview-text">
                            <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                            <h3>ACTUALIDAD</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin. Nunc sapien orci, commodo eget massa ac, viverra condimentum purus. Curabitur iaculis elementum risus vitae egestas. Integer consectetur ex et mauris eleifend aliquam. Sed luctus accumsan urna, sed porttitor turpis pretium lobortis.</p>
                            <h4>⏳ Hace 12 minutos</h4>
                        </div>
                    </div>
                </div>
                <div id="5">
                    <img class="img-d"src = "../assets/audi-tt.jpg">
                </div>
                <div class="noticia2" style="visibility: hidden;" id="1">
                    <img class="img-mv" src = "../assets/audi-tt.jpg">
                    <div class = "preview-text">
                        <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                        <h3>ACTUALIDAD</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                        <h4>⏳ Hace 12 minutos</h4>
                    </div>
                </div>
                <div class="noticia2" style="visibility: hidden;" id="2">
                    <img class="img-mv" src = "../assets/audi-tt.jpg">
                    <div class = "preview-text">
                        <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                        <h3>FUTURO</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                        <h4>⏳ Hace 12 minutos</h4>
                    </div>
                </div>
                <div class="noticia2" style="visibility: hidden;" id="3">
                    <img class="img-mv" src = "../assets/audi-tt.jpg">
                    <div class = "preview-text" id="4">
                        <h2 class="titulo">Lorem ipsum dolor sit amet</h2>
                        <h3>FUTURO</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida enim ut euismod sollicitudin.</p>
                        <h4>⏳ Hace 12 minutos</h4>
                    </div>
                </div>
        </div>            
    </div>
</body>
</html>

