<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/Styles.css">
    <link rel="stylesheet" href="/styles/Car-Viusalizer.css">
    <script src = "/javascript/Car-Visualizer.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Car-Visualizer</title>
</head>
<body>
    <header>
        <div class="gray1-square"></div>
        <div class="gray2-square"></div>
        <a href="/"><h1>Coches</h1></a>
    </header>
    <nav>
        <a href="/reviews/combustion">Combustión</a>
      <a href="/reviews/electricos">Eléctricos</a>
      <a href="/noticias">Noticias</a> 
      <a href="/futuro">Futuro</a>
      <a href="/form">Nueva Review</a>
    </nav>
    <div class = "align">
        <h1>🚗 Todos los coches</h1>
        <div class = "container2">
            <div class="containercar">
                <div class="item">
                    <img src = "../assets/bmw.jpg">
                    <div class="bordertext">
                        <center class="cartext">BMW x6</center>
                    </div>
                </div>
                <div class="containeresp">
                    <h2>BMW X6</h2>
                    <h3>COMBUSTIÓN</h3>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>
                <div class="item">
                    <img src = "../assets/mercedes.jpeg">
                    <div class="bordertext">
                        <center class="cartext">Mercedes GLE Coupé </center>
                    </div>
                </div>
                <div class="containeresp">
                    <h2>Mercedes GLE Coupé</h2>
                    <h3>COMBUSTIÓN</h3>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>
                <div class="item">
                    <img src = "../assets/ferrari.jpg"> 
                    <div class="bordertext">
                        <center class="cartext">Ferrari 456</center>
                    </div>
                </div>
                <div class="containeresp">
                    <h2>Ferrari 456</h2>
                    <h3>COMBUSTIÓN</h3>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>
                <div class="item">
                    <img src = "../assets/seat.jpg"> 
                    <div class="bordertext">
                        <center><p class="cartext">Seat Arona</p></center>
                    </div>
                </div>
                <div class="containeresp">
                    <h2>Seat Arona</h2>
                    <h3>COMBUSTIÓN</h3>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>
                <div class="item">
                    <img src = "../assets/peugeot.jpg">
                    <div class="bordertext">
                        <center><p class="cartext">Peugeot 208</p></center>
                    </div>
                </div>
                <div class="containeresp">
                    <h2>Peugeot 208</h2>
                    <h3>COMBUSTIÓN</h3>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>
                <div class="item">
                    <img src = "../assets/mustang.jpg"> 
                    <div class="bordertext">
                        <center><p class="cartext">Mustang Shelby GT500</p></center>
                    </div>
                </div>
                <div class="containeresp">
                    <h2>Mustang Shelby</h2>
                    <h3>COMBUSTIÓN</h3>
                    <h4>⏳ Hace 12 minutos</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>